.Context{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Context .contextBox{
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    overflow: hidden;
}
.Context .contextBox .ContextHeader{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.452);
}
.Context .contextBox .ContextHeader > h1{
    font-size: 36px;
}
.Context .contextBox .ContextHeader > span{
    font-size: 80px;
    color: var(--orangeColor);
}

.Context .contextBox .toogle-link-container{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, rgba(216, 216, 216, 0.425), transparent 50%);
}
.Context .contextBox .toogle-link-container .link-block{
    width: 200px;
    height: 100%;
}
.Context .contextBox .toogle-link-container .link-block .link{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.4s;
}
.Context .contextBox .toogle-link-container .link-block .link:hover{
    color: white;
}

.Context .contextBox .toogle-link-container .link-block .home{
    color: var(--orangeColor);
}
.Context .contextBox .routes-block{
    width: 100%;
    height: auto;
}
