.Teacher{
    width: 100%;
    height: 100%;
}
.Teacher .teacherContext-link-container{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.Teacher .teacherContext-link-container .teacherlink-block{
    width: 80%;
    height: 100%;
    margin-left: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, rgba(216, 216, 216, 0.295), transparent 50%);
}
.Teacher .teacherContext-link-container .teacherlink-block .Tlink{
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-decoration: none;
    color: rgb(2, 2, 2);
    transition: 0.3s;
}

.Teacher .teacherContext-link-container .teacherlink-block .Tlink:hover{
    color: white;
}
