.teacherALL{
    width: 100%;
    height: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.teacherALL .teacherALLHeader{
    width: 70%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orangeColor);
    border-bottom: 1px solid white;

}
.teacherALL .teacherALLContent{
    width: 100%;
    min-height: 200px;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.teacherALL .teacherALLContent .seacheTeacher{
    width: 80%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.teacherALL .teacherALLContent .seacheTeacher > input{
    width: 20%;
    height: 40px;
    border-radius: 10px;
    padding: 0 , 10px;
    text-align: center;
    font-size: 17px;
}
.teacherALL .teacherALLContent .btbSearche{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.teacherALL .teacherALLContent .btbSearche > button{
    width: 180px;
    height: 40px;
    position: relative;
    border-radius: 15px;
    background-color: var(--orangeColor);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}
.teacherALL .teacherALLContent .btbSearche > button:hover{
    background-color: white;
}

.teacherALL .teacherALLContent .seatcheResults{
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}


