.teacherById {
    width: 100%;
    height: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.teacherById .teacherByIDHeader {
    width: 70%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orangeColor);
    border-bottom: 1px solid white;
}

.teacherById .teacherByIDContent {
    width: 100%;
    min-height: 200px;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.teacherById .teacherByIDContent .seacheTeacher {
    width: 80%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teacherById .teacherByIDContent .seacheTeacher>input {
    width: 20%;
    height: 40px;
    border-radius: 10px;
    padding: 0, 10px;
    text-align: center;
    font-size: 17px;
}

.teacherById .teacherByIDContent .btbSearche {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teacherById .teacherByIDContent .btbSearche>button {
    width: 180px;
    height: 40px;
    position: relative;
    border-radius: 15px;
    background-color: var(--orangeColor);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.teacherById .teacherByIDContent .btbSearche>button:hover {
    background-color: white;
}

.teacherById .teacherByIDContent .seatcheResults {
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.teacherById .teacherByIDContent .seatcheResults .respoDATA{
    width: 90%;
    height: 70px;
    background-color: rgba(204, 204, 204, 0.493);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 30px;
}
.teacherById .teacherByIDContent .seatcheResults .respoDATA > div {
    width: 100%;  
    display: flex;
    align-items: center;
    justify-content: center;
}