.SignInBlock{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--silverContext);

}

.SignInBlock .formBox{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.SignInBlock .formBox > form{
    width: 100%;
    height: 100%;
}

.SignInBlock .formBox > form > div{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.SignInBlock .formBox > form > div > h4{
    font-size: 16px;
    color: white;
    margin: 8px;
}
.SignInBlock .formBox > form > div > input{
    width: 70%;
    height: 40px;
    border-radius: 20px;
    padding: 0 10px;
    text-align: center;
    font-size: 20px;
}


.SignInBlock .buttonBox{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SignInBlock .buttonBox > button{
    width: 200px;
    height: 40px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--orangeColor);
    cursor: pointer;
    transition: 0.3s;
}
.SignInBlock .buttonBox > button:hover{
    background-color: white;
}
