.CreateStudents{
    width: 100%;
    height: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.CreateStudents .CreateStudentsHeader{
    width: 70%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
    color: var(--orangeColor);
}
.CreateStudents .CreateContent{
    width: 60%;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.CreateStudents .CreateContent .createnewStudents{
    border-left: 1px solid rgba(255, 255, 255, 0.363);
}

.CreateStudents .CreateContent > div{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.CreateStudents .CreateContent > div > input{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    padding: 0 , 10px;
    text-align: center;
    font-size: 17px;
}
.CreateStudents .CreateContent > div > div > input{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    padding: 0 , 10px;
    text-align: center;
    font-size: 17px;
}
.CreateStudents .CreateContent > div > div{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.CreateStudents .CreateContent .imges{
    width: 100%;
    height: auto;
    position: relative;
    left: 200Px;
    top: 100Px;
}
.CreateStudents .CreateContent .imges >img{
    width: 220%;
}
.CreateStudents .buttonBlocj{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.CreateStudents .buttonBlocj > button{
    width: 180px;
    height: 40px;
    position: relative;
    border-radius: 15px;
    background-color: var(--orangeColor);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}
.CreateStudents .buttonBlocj > button:hover{
    background-color: white;
}
