.studentHome{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    background-image: url(../../../../public/img/tHome.png);
    background-position: right;
    background-size: 30%;
    background-repeat: no-repeat;
}
.studentHome > div{
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.studentHome .studentContext{
    padding: 50px;
    align-items: end;
    top: 70px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.74);
}
.studentHome .studentLinks{
    align-items: start;
    height: 30%;
    justify-content: end;
    position: relative;
    left: 150px;
}
.studentHome .studentLinks .Tlink{
    font-size: 25px;
    margin-right: 29px;
    text-decoration: none;
    color: var(--orangeColor);
}
