.CreateTeacher{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
.CreateTeacher .createTeacherHeader{
    width: 70%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
    color: var(--orangeColor);
}
.CreateTeacher .createTeacherContent{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.CreateTeacher .createTeacherContent .createTeacgImage{
    width: 100%;
    height: 170%;
    overflow: hidden;
    position: relative;
    top: 90px;
}
.CreateTeacher .createTeacherContent .createTeacgImage >img {
    width: 100%;
}

.CreateTeacher .createTeacherContent > div{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    overflow: auto
    ;
}
.CreateTeacher .createTeacherContent > div > div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.CreateTeacher .createTeacherContent > div .createNewStudents{
    width: 100%;
    height: 50px;
}
.CreateTeacher .createTeacherContent > div .createNewStudents > button{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--orangeColor);
    cursor: pointer;

}


.CreateTeacher .createTeacherContent > div > div > input{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    padding: 0 , 10px;
    text-align: center;
    font-size: 17px;
}
/* ----------------------------------------------- */
.CreateTeacher .createTeacherContent > div .mapsBox{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(151, 151, 151);
    flex-direction: row;
    border: 1px solid rgba(255, 255, 255, 0.377);
    border-radius: 10px;
    padding: 7px;
    margin: 4px;
}
.CreateTeacher .createTeacherContent > div .mapsBox .mapsInputs{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.CreateTeacher .createTeacherContent > div .mapsBox .mapsInputs > h1{
    font-size: 18px;
}


.CreateTeacher .createTeacherContent > div .mapsBox .mapsInputs > input{
    width: 80%;
    height: 30px;
    border-radius: 10px;
    padding: 0 , 10px;
    text-align: center;
    font-size: 15px;
}

.CreateTeacher .AllcreateButton{
    width: 70%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.CreateTeacher .AllcreateButton > button{
    width: 180px;
    height: 40px;
    position: relative;
    border-radius: 15px;
    background-color: var(--orangeColor);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}
.CreateTeacher .AllcreateButton > button:hover{
    background-color: white;
}
