.LoginPage{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
background-image: url(../../../../public/img/p.png);
background-repeat: no-repeat;
background-position: right 50px ;
background-size: 48%;
}
.LoginPage .logPageHeader{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
}
.LoginPage .logPageHeader::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.466);
    bottom: 0;
    left: 70px;
}

.LoginPage .logPageHeader > span{
    margin-right: 15px;
}

.LoginPage .logPageHeader .firstPs{
    color: var(--orangeColor);
    font-weight: bold;
    font-size: 90px;
}
.LoginPage .logPageHeader .lastePs{
    font-size: 60px;

}

.LoginPage .loginPageContext{
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 50px;
    padding-top: 60px;
}
.LoginPage .loginPageContext > div{
    width: 500px;
    height: 600px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    border-radius: 40px;
    border: 1px solid rgb(170, 170, 170);
}
.LoginPage .loginPageContext > div .signHeader{
    color: rgb(0, 0, 0);
    width: 100%;
    min-height: 100px;
    height: 100px;
    background-color: var(--silverColor);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 5px;
    z-index: 3;
    cursor: pointer;
}
.LoginPage .loginPageContext > div .signHeader.SignIN{
    color: var(--orangeColor);
}

.LoginPage .loginPageContext > div .signFormBox{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: start;
    justify-content: center;
    transition: 1s;
    overflow: hidden;
}


