@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@1,100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau', sans-serif;
    font-weight: bold;
}
:root{
    --RTUI-color-background-primary: rgba(221, 221, 221, 0.363);
    --RTUI-color-background-secondary: rgba(255, 255, 255, 0.151);
    --bacgGroudColor: rgb(20, 19, 63);
    --bacgColorContext: rgb(3, 2, 56);
    --orangeColor: rgb(241, 157, 0);
    --silverColor: rgb(77, 77, 77);
    --silverContext: rgb(190, 190, 190);
}
.App{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left, var(--silverContext) ,var(--bacgGroudColor));
}
