.ConfirmationResp{
    position: fixed;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.ConfirmationResp > div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    opacity: 0.8;
background-color: rgb(255, 255, 255);
}
