.ConfirmationResp{
    position: fixed;
    width: 100vw;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
}
.ConfirmationResp > div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    opacity: 0.8;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
}
