.updateTeacher {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.updateTeacher .updateTeacherHeader {
    width: 70%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
    color: var(--orangeColor);
}

.updateTeacher .updateTeacherContent {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.updateTeacher .updateTeacherContent .techerById {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.updateTeacher .updateTeacherContent .techerById>input {
    width: 80%;
    height: 40px;
    border-radius: 10px;
    padding: 0, 10px;
    text-align: center;
    font-size: 17px;
}

.updateTeacher .updateTeacherContent>div {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    overflow: auto
}

.updateTeacher .updateTeacherContent .createTeacherSub {
    border-left: 1px solid rgba(255, 255, 255, 0.452);
    border-right: 1px solid rgba(255, 255, 255, 0.425);
}

.updateTeacher .updateTeacherContent>div>div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.updateTeacher .updateTeacherContent>div .createNewStudents {
    width: 100%;
    height: 50px;
}

.updateTeacher .updateTeacherContent>div .createNewStudents>button {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--orangeColor);
    cursor: pointer;

}


.updateTeacher .updateTeacherContent>div>div>input {
    width: 80%;
    height: 40px;
    border-radius: 10px;
    padding: 0, 10px;
    text-align: center;
    font-size: 17px;
}

/* ----------------------------------------------- */
.updateTeacher .updateTeacherContent>div .mapsBox {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(151, 151, 151);
    flex-direction: row;
    border: 1px solid rgba(255, 255, 255, 0.377);
    border-radius: 10px;
    padding: 7px;
    margin: 4px;
}

.updateTeacher .updateTeacherContent>div .mapsBox .mapsInputs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.updateTeacher .updateTeacherContent>div .mapsBox .mapsInputs>h1 {
    font-size: 18px;
}


.updateTeacher .updateTeacherContent>div .mapsBox .mapsInputs>input {
    width: 80%;
    height: 30px;
    border-radius: 10px;
    padding: 0, 10px;
    text-align: center;
    font-size: 15px;
}

.updateTeacher .AllcreateButton {
    width: 70%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.updateTeacher .AllcreateButton>button {
    width: 180px;
    height: 40px;
    position: relative;
    border-radius: 15px;
    background-color: var(--orangeColor);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.updateTeacher .AllcreateButton>button:hover {
    background-color: white;
}